<ion-view>
<ion-content class="padding">
<div class="list card">
  <div class="item item-body">
    <div style="height: 200px;">
      <img class="login-img" ng-src="img/mkdlogo.png">
    </div>
        <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="loginCtrl.fBLogin(newUser)" style="background: #4c66a4;">
    <span ng-show="!loading">Conecte-se pelo Facebook</span>
    <i ng-show="loading" class="ion-loading-b"></i>
    </button>

    <div class="item item-input" ng-show="loginCtrl.isShowForm">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="loginCtrl.usuarioNm.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="password" ng-model="loginCtrl.usuarioNm.senha" placeholder="Senha">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="loginCtrl.login()">Entrar</button>
        </label>
      </div>
    </div>
    <button class="button button-full button-color-mk icon-left ion-android-cart" ng-click="loginCtrl.showForm()">Entre com a sua conta</button>
    <a class="button button-clear button-positive" ng-click="loginCtrl.openModal()">Nao possui conta? Cadastre-se.
    </a>
  </div>
</div>
</ion-content>
</ion-view>
