<ion-modal-view class="ion-nifty-modal">
<div class="ion-modal-content-custom">
  <ion-content class="padding" style="overflow-y: hidden;">
    <form name="loginCtrl.formLista" novalidate>
      <!-- <div class="list">
        <label class="item item-input">
          <input name="nomeLista" type="text" placeholder="Nome" ng-model="loginCtrl.nomeLista" required>
        </label>
      </div> -->
      <!-- <div class="row">
        <div class="col col-100">
          <h4 style="color: grey;">Nova Lista</h4>
        </div>
      </div> -->
      <div class="row">
        <div class="col col-50">
          <p style="color: grey;">Nome</p>
          <input type="text" style="border-bottom: 2px solid #d8d1d1;" ng-model="loginCtrl.nome" required/>
        </div>
        <div class="col col-50">
          <p style="color: grey;">Sobrenome</p>
          <input type="text" style="border-bottom: 2px solid #d8d1d1;" ng-model="loginCtrl.sobrenome" required/>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <p style="color: grey;">Email</p>
          <input type="email" style="border-bottom: 2px solid #d8d1d1;" ng-model="loginCtrl.email" required/>
        </div>
        <div class="col col-50">
          <p style="color: grey;">Senha</p>
          <input type="password" style="border-bottom: 2px solid #d8d1d1;" ng-model="loginCtrl.senha" required/>
        </div>
      </div>
    </form>
  </ion-content>
      <div class="button-bar">
        <button class="button button-stable" style="font-weight: bold; color:green;" ng-click="loginCtrl.cancelar(loginCtrl.novaMod)">Cancelar</button>
        <button class="button button-stable" style="font-weight: bold;" ng-click="loginCtrl.criarLista()" ng-disabled="loginCtrl.formLista.$invalid">Salvar</button>
      </div>


</div>
</ion-modal-view>
