
<ion-view>
<ion-content class="padding" style="margin-top: 20px;">
<div class="list" ng-hide="listaCtrl.noLista">
	<div class="item item-icon-right item-img" ng-repeat="lista in listaCtrl.listas" ng-click="listaCtrl.openModal(listaCtrl.detalheMod, lista)">
		<i class="icon ion-chevron-right"></i>
		<h2 ng-bind="lista.nome"></h2>
		<h2 ng-bind="lista.tipo"></h2>
			<p>{{ lista.dataCriacao | date: 'dd/MM/yyyy'}}</p>
	</div>
</div>
<!-- <div class="list card" ng-show="listaCtrl.showempty">
  <div class="item item-body">
    <div style="height: 200px;">
	<div class="row">
		<div class="col col-25"></div>
		<div class="col col-50 text-center">
			<a ng-click="listaCtrl.openModal()">
				<i class="ion-android-add-circle icon-empty">
				</i>
			</a>
		</div>
		<div class="col col-25"></div>
	</div>
	<div class="row">
		<div class="col text-center">
			<h2 ng-bind="listaCtrl.emptyLista"></h2>
		</div>
	</div>
    </div>
  </div>
</div>
-->
	<!--https://lipis.github.io/bootstrap-social/ -->
<!-- 	<div class="list card" ng-show="listaCtrl.noLista">
	  <div class="item item-body">
	    <div style="height: 200px;">
	      <img class="login-img" ng-src="img/mkdlogo.png">
	    </div>
		</div>
	</div> -->
	<div class="list card  stable-bg" ng-show="listaCtrl.noLista">
      <div class="item item-body">
        <i class="icon ion-android-list" style="font-size:120px; margin-right: auto; margin-left: auto; display: block; text-align: center; color: green"></i>
        <h2 style="text-align: center;">Você não possui lista!</h2>
      </div>
    </div>
</ion-content>
<div class="bar bar-footer">
	<div class="buttons buttons-right">
		<button class="button button-energized-900 button-fab-bot" ng-click="listaCtrl.openModal(listaCtrl.novaMod)">
		<i class="icon ion-plus"></i></button>
	</div>
</div>
</ion-view>
