<ion-modal-view>
<ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Lista</h1>
</ion-header-bar>
<ion-content class="padding">
<form name="listaformCtrl.formLista" novalidate>
<div class="list">
  <label class="item item-input">
    <input name="nomeLista" type="text" placeholder="Nome" ng-model="listaformCtrl.nomeLista" required>
  </label>
  <div class="row">
    <div class="col">
        <button class="button button-full button-stable" ng-click="listaformCtrl.criarLista()" ng-disabled="listaformCtrl.formLista.$invalid">Salvar</button>
    </div>
    <div class="col">
        <button class="button button-full button-stable" ng-click="listaformCtrl.cancelar()">Cancelar</button>
    </div>
</div>
</div>
</form>
</ion-content>
</ion-modal-view>