<ion-modal-view >

  <ion-content class="padding" style="overflow-y: hidden;">
    <form name="listaCtrl.formSuper" novalidate>
      <!-- <div class="list">
        <label class="item item-input">
          <input name="nomeLista" type="text" placeholder="Nome" ng-model="listaCtrl.nomeLista" required>
        </label>
      </div> -->
      <div class="row">
        <div class="col col-100">
          <h4 style="color: grey;">Selecione o Supermercado</h4>
        </div>
      </div>
<!--       <div class="row">
        <div class="col col-100">
          <p style="color: grey;">Digite o nome da Lista</p>
          <input type="text" style="border-bottom: 2px solid #d8d1d1;" ng-model="listaCtrl.lista.nome" required/>
        </div>
      </div> -->
      <!-- <ion-list> -->
        
      <div class="row" ng-repeat="supermercado in listaCtrl.supermercados">
 <!--      <label class="item item-radio">
      <img ng-src="{{supermercado.img}}" width="90px" height="90px">
      {{supermercado.nome}}
        <input type="radio" name="radioGroupSuper" ng-model="listaCtrl.supermercadoSelecionado" ng-value="supermercado">
      </label> -->
      <ion-radio ng-model="listaCtrl.supermercadoSelecionado" ng-value="supermercado" >
      <img ng-src="{{supermercado.img}}" width="90px" height="90px">
        {{supermercado.nome}}
      </ion-radio>
      </div>
        
      <!-- </ion-list> -->

    </form>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable">
      <div class="button-bar">
        <button class="button button-stable" style="font-weight: bold; color:green;" ng-click="listaCtrl.closeModal(listaCtrl.superMod)">Cancelar</button>
        <button class="button button-stable" style="font-weight: bold;" ng-click="listaCtrl.enviarCarrinho()" ng-disabled="!listaCtrl.supermercadoSelecionado">OK</button>
      </div>
    </div>
  </ion-footer-bar>

</ion-modal-view>
