<ion-modal-view>
<ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Lista</h1>
</ion-header-bar>
<ion-content class="padding">
<form name="listaCtrl.formLista" novalidate>
<div class="list">
  <label class="item item-input">
    <input name="nomeLista" type="text" placeholder="Nome" ng-model="listaCtrl.nomeLista" required>
  </label>
  <div class="row">
    <div class="col">
        <button class="button button-full button-stable" ng-click="listaCtrl.criarLista()" ng-disabled="listaCtrl.formLista.$invalid">Criar</button>
    </div>
    <div class="col">
        <button class="button button-full button-stable" ng-click="modal.hide()">Cancelar</button>
    </div>
</div>
</div>
</form>
</ion-content>
</ion-modal-view>