<ion-view>
  <ion-content class="padding">
    <div class="list">
        <button class="button button-full button-positive" ng-click="loginCtrl.fBLogin(newUser)">Facebook</button>
        <button class="button button-full button-positive" ng-click="login(newUser)">Google+</button>
      <div class="item item-input" ng-show="loginCtrl.isShowForm">
        <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model="loginCtrl.username" placeholder="Nome do Usuário">
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="loginCtrl.password" placeholder="Senha">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="button" ng-click="loginCtrl.login(loginCtrl.username,loginCtrl.password)">Entrar</button>
                </label>
                <label class="item">
                    eu@eu.com 1234 - Teste
                </label>
            </div>

      </div>
      <button class="button button-full button-color-mk" ng-click="loginCtrl.showForm()">Entre com a sua conta</button>
    </div>
  </ion-content>
</ion-view>