<ion-modal-view class="ion-nifty-modal" style="
    width: 100%; min-height: 0 !important; height: 100%!important; top: 0%;left: 0%; right: 5%; bottom: 5%;
    background-color: transparent;
    border-radius: 0px;">
	<ion-header-bar>
		<button class="button button-icon icon-color button-clear ion-android-arrow-back" ng-click="appCtrl.cancelar(appCtrl.carrinhoMod)"> </button>
		<h1 class="title">Carrinho</h1>
	</ion-header-bar>
	<div class="ion-modal-content-custom" style="background-color: #fafafa">
		<ion-content>
			<div class="padding">
				<!-- <div class="list" ng-hide="appCtrl.noResultCarrinho">
					<a class="item item-thumbnail-left">
						<img ng-src="img/salada.jpg">
						<h2 style="color: black;">Leite em Pó</h2>
						<p>Ninho</p> <b>Quantidade: 3</b> </a>
				</div> -->
			<div class="list" ng-hide="appCtrl.noResultCarrinho">
		   	 	<div class="item item-avatar item-detalhe">
		      		<img class="list-icon" ng-src="img/listicon.png">
		      		<h3 ng-bind="appCtrl.listaCarrinho.nome"></h3>
		      		<p><b>{{appCtrl.listaCarrinho.tipo}}</b></p>
		      		<p>{{appCtrl.listaCarrinho.dataCriacao | date : 'dd/MM/yyyy'}}</p>
		      		
		      		<span class="badge badge-assertive">Valor Total: R$ 52,00</span>
		    	</div>
			</div>
				<div class="list card  stable-bg" ng-show="appCtrl.noResultCarrinho">
					<div class="item item-body">
				        <i class="icon ion-android-cart" style="font-size:120px; margin-right: auto; margin-left: auto; display: block; text-align: center; color: green"></i>
				        <h2 style="text-align: center;">Nenhum item adicionado ao carrinho!</h2>
				        <button class="button button-calm" ng-click="appCtrl.criarPagamento()">Paypal</button>
				    </div>
				</div>
			</div>
			<div class="list">
			  <label class="item item-input item-select">
			    <div class="input-label">
			      Seleciona a retirada dos produtos
			    </div>
			    <select ng-model="appCtrl.retirada" ng-change="">
			      <option selected>Na Loja</option>
			      <option>Frete</option>
			    </select>
			  </label>

			</div>
		</ion-content>
		  <ion-footer-bar class="bar bar-footer bar-stable">
      <div class="button-bar">
        <button class="button button-calm" ng-click="appCtrl.criarPagamento()">Pagar com Paypal</button>
      </div>
    </div>
  </ion-footer-bar>
	</div>
</ion-modal-view>
