<ion-modal-view class="ion-nifty-modal" style="
    width: 100%; min-height: 0 !important; height: 100%!important; top: 0%;left: 0%; right: 5%; bottom: 5%;
    background-color: transparent;
    border-radius: 0px;">
  <ion-header-bar>
    <button class="button button-icon icon-color button-clear ion-android-arrow-back" ng-click="carrinhoCtrl.cancelar()"> </button>
    <h1 class="title">Carrinho</h1>
	</ion-header-bar>
  <div class="ion-modal-content-custom" style="background-color: #fafafa">
    <ion-content class="padding" style="overflow-y: hidden;">
    </ion-content>
  </div>
</ion-modal-view>
