/*
.menu-left .list .item {
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #d4d8e2;
}

.menu-left .item-complex .item-content, .menu-left .item-radio .item-content {
    background-color: #f2f4f9;
}*/

.menu .icon {
    font-size: 20px;
    color : #52607b;
}
.expandedme {
    min-height: 80px;
}
.has-expandedme {
    top: 80px !important;
}
.background-bar {
    background-color: #f5f2f9;
    width: 100%;
    border: none;
}
.background-bar-mid {
    background-color: #f3f2f7 !important;
}
.bar .button.icon-color{
    color: #f1a7a7 !important;
}

.tab-color div{
    background-color: #dad5f5 !important;
}

.button.button-color-mk {
    background-color: #f1a7a7 !important;
    color: white;
}

.button.icon-color-mk {
    color: #f1a7a7 !important;
}
.text-supermercado {
    color: #52607b;
    font-size: 30px;
    background-color: #dad5f5;
    width: 100%;
    min-height: 400px;
}

.button-new-back {
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 10px 0 rg:rgba(0,0,0,.12);
}
.thumb-custom{
    top: 0px !important;
    left: 0px !important;
    max-width: 50px !important;
    max-height: 50px !important;
}
/*.item.activated.animated-item{
  background-color: #c5baba !important;
}*/
/*
.modal{
  top: 20% !important;
  right: 20% !important;
  bottom: 20% !important;
  left: 20% !important;
  overflow: visible !important;
  min-height: 240px !important;
  width: 60% !important;
}
*/
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.fullscreen-image2 {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.login-img {
  display: block;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

}
.empty-list{
	width : 200px;

}
.icon-empty {
	font-size: 50px;
	color: #f1a7a7;
}
.text-center {
	text-align: center;
}
.div-list {
  margin: auto;
  width: 50%;

}
.div-list h2{
  color: grey;
  font-style: italic;
}

.bar-footer .buttons-right .button-fab-bot {
  right: 8px;
}

.bar-footer .button-fab-bot {
  position: absolute;
  top: -26px;
  bottom: initial;
}
.button.button-fab-bot,
.bar .button.button-fab-bot {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 9999;
  width: 56px;
  height: 56px;
  max-height: initial;
  max-width: initial;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: 0.3s fade-in-out;
  transition: 0.3s fade-in-out;
  -webkit-transition-property: -webkit-transform, box-shadow;
  transition-property: transform, box-shadow; }
  .button-bar-energized-100 {
    background-color: #FFE0B2;
  }

  .bar-energized-100:hover,.bar-energized-100{
    background-color: #FFE0B2;
  }

  .button-energized-900,.button-energized-900:hover,.button-energized-900:active,.button-energized-900.activated{
    background-color: #E65100;
    color: #fff;
  }
  .bar .button.button-fab-bot i, .button.button-fab-bot i {
    font-size: 2.5rem;
    margin-top: 0;
}
.list-icon {
  border-radius: 0% !important;
}
 .list .menu-bd-none {
    border: none !important;
}
.item-detalhe {
  border-left: none;
  border-right: none;
  border-top: none;
}
